<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://hookfin-1--akashpatel66.repl.co/">HookUpFinserve</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="https://hookfin-1--akashpatel66.repl.co/">Home</a>        
        <a class="nav-link" href="https://hookfin-1--akashpatel66.repl.co/products">Products</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link" href="https://hookfin-1--akashpatel66.repl.co/blog" >Blog</a>
        <a  class="btn btn-primary" href="https://hookfin-1--akashpatel66.repl.co/signup" role="button" aria-pressed="true">Sign Up</a>
        <a  class="btn btn-primary " href="#" role="button" aria-pressed="true">Sign in</a>
 
      </div>
    </div>
  </div>
</nav>